@*  Create the seed data that can then be passed on to the front end
    Now you need to create the interface for the DB that u can use
    Afterwards start styling the front end using bootstrap and CSS
    Keep in mind the fact that you have to start with the tests 
*@
@model IQueryable<WorkoutPlan>
@{
    Layout = null;
}
<div>
    Hello World!
</div>